# python tutorials

In [1]:
name='pavan'
print(name)

pavan

In [2]:
type(name)

str

In [3]:
age=27
print(type(age))

<class 'int'>

In [4]:
age=27.5
type(age)

float

In [5]:
# single value datatypes - int,float,str,boolean

## multivalued datatypes - list, tuple, dictionary

In [6]:
lst=['pav','rak',27,24.5]
lst

['pav', 'rak', 27, 24.5]

In [7]:
type(lst)

list

In [8]:
lst[0]

'pav'

In [9]:
lst[1]

'rak'

In [10]:
tup=('red','blue','green')
tup

('red', 'blue', 'green')

In [11]:
type(tup)

tuple

In [13]:
## website - towards datascience = n number of solutions and articles about datascience

In [14]:
tup[1]

'blue'

In [15]:
lst.append('True')

In [16]:
lst

['pav', 'rak', 27, 24.5, 'True']

In [17]:
tup.append(33)

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
tup[1]='yellow'

TypeError: 'tuple' object does not support item assignment

In [23]:
## shows error when we append or change valuesto tuple because tuples are immutable i.e values cannot be added or changed in tuple

In [24]:
dct={'name':'pavan','age':27}
dct
type(dct)

dict

In [25]:
dct[0]

KeyError: 0

In [26]:
dct['name']

'pavan'

## concatenation

In [27]:
'1'+'2'

'12'

In [28]:
v1='pav'
v2='an'
v1+v2

'pavan'

## comparison

In [29]:
v1=1
v2=2
v1==v2

False

In [30]:
v2=1
v1==v2

True

In [31]:
# double equal (==) is comparison (equal to) operator whereas single equal (=) is assignment operator.
# In many other languages we also have triple equal (===) which means strict equal, where it checks for the datatype also during comparison

In [32]:
a=4
b=2
mybool=a<b
mybool

False

In [33]:
mybool=a>b

In [34]:
mybool

True

## type casting - converting from one type to another

In [38]:
a='50'
b=int(a)
print(b)
type(b)

50

int

## placeholder

name='pav'
age=27
print('name is %s and age is %d' %(name,age))

In [47]:
print('name is %s and age is %d' %(age,name))

TypeError: %d format: a number is required, not str

In [48]:
# shows error because while referencing we have to give the variables in same order

In [49]:
print('name is', name, 'age is',age) #normal way without place holder

name is pav age is 27

In [50]:
# refer tutorialspoint or w3resourse website for more info about python

## iteration/loops

In [1]:
counter=5
while counter>0:
    print('counter=',counter)
    counter=counter-1

counter= 5
counter= 4
counter= 3
counter= 2
counter= 1

## exception handling

In [2]:
try:
    answer=50/0
    print(answer)
except:
    print('number should not be divided by zero')

number should not be divided by zero

## functions

In [13]:
def profile(name,followers):
    print('name is ',name)
    print('followers are ',followers)

In [14]:
profile('sam','100')

name is  sam
followers are  100

In [ ]:
# we can also pass default values as below

In [15]:
def profile(name,followers=1):
    print('name is ',name)
    print('followers are ',followers)

In [16]:
profile('sam')

name is  sam
followers are  1

## class and objects

In [27]:
class Shark:
    def swim(self):
        print('shark can swin')
    def beawesome(self):
        print('shark can be awesome')

In [36]:
# creating objects/instances of class shark
dobby=Shark()
# calling characteristics of the class
dobby.swim()
dobby.beawesome()

shark can swin
shark can be awesome

In [37]:
tommy=Shark()
tommy.beawesome()
tommy.swim()

shark can be awesome
shark can swin

## constructors and destructors

In [ ]:
# constructors are default functions that gets called by default whenever an object is created. builtin constructor is __init__
# destructors are default functions that gets called by default whenever an object is deleted. builtin destructor is __del__

In [38]:
class Vehicle:
    def __init__(self):
        print('constructor got called')
    def __del__(self):
        print('destructor got called')

In [42]:
car=Vehicle() # observe the o/p the counstructor called automatically without we explicitly callling it

constructor got called

In [43]:
del car

destructor got called

In [44]:
# geeksforgeeks is a good site for engineers